table {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4caf50;
    color: white;
}
.pagination-div{
    display: flex;
    justify-content: end;
    padding: 20px;
}
.first-page-btn,.prev-page-btn,.next-page-btn,.last-page-btn{
    margin: 5px;
    padding: 5px;
}
.pagination-text{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    height: 20px;
}
