.service-card {
    min-width: 450px;
    max-width: 450px;
    height: 300px;
    background-color: black;
    margin: 10px;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    font-size: 16px;
}

.card-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.87);
}

.card-Version,
.card-result,
.card-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-link {
    text-decoration: none;
    cursor: pointer;
}
