.insight-carousel {
    position: relative;
    overflow: hidden;
    padding: 40px;
}

#light .insight-carousel {
    background-color: white !important;
}

#dark .insight-carousel {
    background-color: #121212 !important;
}

.insight-carousel-container {

    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.product-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.service-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#light .product-title {
    color: black;
}

#dark .product-title {
    color: rgba(255, 255, 255, 0.80);
}

#dark .service-title {
    color: rgba(255, 255, 255, 0.80);
}

.prev-btn,
.next-btn {

    border: none;
    outline: none;
    width: 60px;
    height: 11%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 20px;
}

.next-btn p,
.prev-btn p {
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 5px 5px black;
    border-radius: 5px;
    cursor: pointer;
}

.switch-label {
    position: absolute;
    right: 50px;
}

.switch-text {
    /* color: rgba(255, 255, 255, 0.38); */
    margin-right: 5px;
    font-size: 18px;
}

#light .switch-text {
    color: black;
}

#dark .switch-text {
    color: rgba(255, 255, 255, 0.38);
}

.switch-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar-container {
    min-width: 450px;
    max-width: 450px;
    height: 300px;
    position: relative;
    margin: 20px;
}

.progress-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.data-container {
    display: flex;
}

.card-Version {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.87);
}

.total-count,
.pass-count,
.fail-count,
.pass-percent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.87);
}

.service-card {
    min-width: 450px;
    max-width: 450px;
    height: 300px;
    background-color: black;
    margin: 10px;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.button-modal {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}

.button-modal:hover,
.button-modal:focus {
    background-color: #F082AC;
}

.modal-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
